// 第一页样式设置
.title {
  margin-top: 3.23rem;
  margin-left: 2.3rem;
  margin-right: 2.3rem;

  img {
    width: 100%;
    height: auto;
  }

  .sub-title{
      color: #fff;
      text-align: right;
  }
}
