// 第一页样式设置

// 边角音乐播放开关开始
.music {
  position: absolute;
  z-index: 999;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background-image: url("../images/yf.svg");
  background-size: 100%;
}

// 音乐播放动画
.music-off {
  animation-name: music-off;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

// 定义音乐播放时的动画效果
@keyframes music-off {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

// 边角音乐播放开关结束

// 顶部标题区域开始
.title {
  position: relative;
  margin-top: 3rem;
  margin-left: 2.22rem;
  margin-right: 2.22rem;

  img {
    width: 100%;
    height: auto;
  }

  .sub-title {
    color: #fff;
    text-align: right;
    font-size: 1.4rem;
  }
}
// 顶部标题区域结束

// 展示区开始
.content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  .content-head {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;

    // 头部区域图片
    img {
      position: absolute;
      width: 100%;
      height: auto;
    }

    .bat {
      opacity: 0;
      animation: fadeIn 2s infinite 2s, pulse 800ms infinite 2s;
    }
  }
  .content-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    div {
      position: absolute;
      width: 100%;
      img {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 0;
      }
    }
    .house {
      z-index: 9;
      bottom: 16rem;
    }
    .sward {
      z-index: 0;
      bottom: 0;
    }
    .pumpkin {
      z-index: 99;
      bottom: 8rem;
    }
  }
  .content-foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    .arrow{
      position: absolute;
      bottom: 4rem;
      left: 50%;
      margin-left: -1rem;
      img{
        width: 2rem;
        height: 2rem;
      }
    }
    p{
      color: #fff;
      font-size: 1.8rem;
      letter-spacing:.2rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }
}
// 展示区结束
