// 公共样式

/* 
一些基本问题的注释
原始设计稿件的大小为 1080*1920px
现在为了适配移动端设备，采用rem作为大小单位
因此人为的将原设计稿划分为30分每份尺寸为36*64px
任何通过媒体查询动态查询将html的字体大小设置为1/30
*/

// 基础样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 背景设置
html{
  background-color: #e3653c;
}

//   容器设置
.container {
  background-color: #292c3d;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}
