// 公共样式

// 通过媒体查询控制容器大小，超过768后全部为720
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 720px;
    }
  }

//   容器设置

.container {
    background-color: #292c3d;
    height: 800px;
    margin: 0 auto;

    .title{
        width: 100%;
        height: 200px;
        background-color: orange;
    }
  }